@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');

:root {
    --primary-color: #1E40AF;
    --light-white: #F3F4F6;
    --font-color: #1E3A8A;
    --light-blue: #1D4ED8;
    --bg-blue: #EFF6FF;
    --bg-blue2: #BFDBFE;
    /* --bg-color: #FDF2F8; */
}

body {
    font-family: 'Roboto Slab', serif;
    color: var(--font-color);
    /* background-color: var(--bg-color); */
}

hr {
    margin: 3rem 0rem;
}

.container {
    padding: 1rem 1rem;
}
.container1 {
    padding top: 0.5rem;
    
}

.container-center2{
    max-width: 750px;
    margin: auto;
   
}

.container-center {
    max-width: 700px;
    margin: auto;
   
}

.container-center1 {
    max-width: 800px;
    margin: auto;
   
}

.container-insta{
    max-width: 500px;
    margin: auto;
    padding-top: 2rem;

}


.link {
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.text-center{
    text-align: center;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    padding: 0.5rem 2.5rem;
    margin-inline-start: 8.1rem;

}

.link-primary2 {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    padding: 0.5rem 2.5rem;
}

.link-secondary2 {
    color: var(--primary-color);
    border-radius: 0.5rem; 
    border: 1px solid var(--primary-color);
    padding: 0.3rem 2.5rem;
}


.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem; 
    border: 1px solid var(--primary-color);
    padding: 0.3rem 2.5rem;
    margin-inline-start: 19.55rem;
}

.list-non-bullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 0.1rem;
}

.padding1{
    padding-bottom: 1.5rem;
}
.padding2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding:2rem 0rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding-top: 2rem;
    padding-right: 4rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-size: 1.2rem;
    
}

.navigation .nav-brand {
    font-weight: bold;
    
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
    /* font-size: 1.4rem; */
}

.header-svg{
    max-width: 350px;
    padding: 3rem 0rem;
    margin: auto;
 
    display: block;
}

.hero{
    padding-top: 0.5rem;
}

.hero .hero-img {
    max-width: 700px;
    margin: auto;
    display: block;
}

.hero .hero-heading {
    /* padding-top: 1rem; */
    text-align: center;
  
}

.hero .heading-inverted {
    color: var(--light-blue);
    
}

.section{
    padding: 1rem;
    border-radius: 3rem;
}

.section h1 {
    text-align:center;
}

.logo{
    max-width: 70px;
    max-height: 70px;
    padding: 1rem;
}

.logo1{
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 2.5rem;
}
.ow{
        background-color: var(--bg-blue);
        

}

.footer{
    background-color: var(--primary-color);
    padding-top: 2rem;
    padding-bottom: 0.05rem;
    text-align: center;
    color: white;
}

.footer .link{
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer-logo{
    max-width: 2.5rem;
    max-height: 2.5rem;
}